@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-controller="Login" asp-action="Index" class="btn btn-primary">Company</a>
    <a asp-controller="Student" asp-action="Index" class="btn btn-primary">Student</a>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Admin</a>
    <a asp-controller="Operation" asp-action="Index" class="btn btn-primary">Operation</a>
    
</div>
<style>
    a{
        margin-right: 10px;
    }
</style>