@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-controller="Companies" asp-action="Index" class="btn btn-primary">Company</a>
    <a asp-controller="CampusDriveNotifications" asp-action="Index" class="btn btn-primary">CampusDriveNotification</a>
    <a asp-controller="SelectionProcesses" asp-action="Index" class="btn btn-primary">SelectionProcesses</a>
    <a asp-controller="Branches" asp-action="Index" class="btn btn-primary">Branches</a>
</div>
<style>
    a{
        margin-right: 10px;
    }
</style>