@model PlacementSystem.Models.Company

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyURL" class="control-label"></label>
                <input asp-for="CompanyURL" class="form-control" />
                <span asp-validation-for="CompanyURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyProfile" class="control-label"></label>
                <input asp-for="CompanyProfile" class="form-control" />
                <span asp-validation-for="CompanyProfile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyHRName" class="control-label"></label>
                <input asp-for="CompanyHRName" class="form-control" />
                <span asp-validation-for="CompanyHRName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyHRContact" class="control-label"></label>
                <input asp-for="CompanyHRContact" class="form-control" />
                <span asp-validation-for="CompanyHRContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyHREmail" class="control-label"></label>
                <input asp-for="CompanyHREmail" class="form-control" />
                <span asp-validation-for="CompanyHREmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
