
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="Companies" asp-action="Index" class="btn btn-dark">Companies</a>
<a asp-controller="SelectionProcesses" asp-action="Index" class="btn btn-dark">Selection Processes</a>
<a asp-controller="Branches" asp-action="Index" class="btn btn-dark">Branches</a>
<a asp-controller="CampusDriveNotifications" asp-action="Index" class="btn btn-dark">Campus Drive Notification</a>
<a asp-controller="Users" asp-action="Index" class="btn btn-dark">Users</a>
<style>
    style {
        a

    {
        margin-righ: 10px;
    }

    }
</style>
